/AllPermutations.class
/BridgeCrossing.class
/Cell.class
/KnightsTour.class
/LargestCircle.class
/MNS$Candidate.class
/MNS.class
/RatInMaze.class
/SillySudoku.class
/SudokuSolver.class
/BCBridgeCrossing$State.class
/BCBridgeCrossing.class
/WeirdRooks.class
